$time: 2.5s;

@mixin animate{
    position: relative;
    animation: flybuttons $time ;
}

.rocky{
    @include animate;
    animation-timing-function: ease-in;
}

.papery{
    @include animate;
    animation-timing-function: ease-out;
}

.cutty{
    @include animate;
    animation-timing-function: ease-in-out;
}

@keyframes flybuttons{
    from{bottom: -700px}
    to{bottom: 0px}
}