body{
    background-image: url("./assets/sea.png");
    text-align: center;
    background-size:1950px;
    margin: auto;
  }
button{
    border-radius: 45%;
    font-size: large;
}
input{
    border-radius: 30%;
    font-size: larger;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
section{
    display: inline-block;
    padding-left: 25px;
    padding-right: 25px;
}