body{
    background-image: url("./assets/sea.png");
    text-align: center;
    background-size:1910px;
    margin: auto;
    
}

@media only screen and (max-width: 700px) {
    body {
      background-image: url("");
      background-color: lightskyblue;
      margin: auto;
    }
        button{
            font-size: 8px;
            padding: 3px;
            margin: 1px;

        }
        #reset{
            font-size: 10px;
            margin-top: 0px;
            padding: 8px;
        }
        #winner{
            width: 75px;
            
        }
        #rock, #paper, #scissors{
            width: 40px;
            font-size: 0px;
            padding-left: 0px;
            padding-top: 3px;
            padding-bottom: 3px;
            padding-right: 0px;   
        }
        h1{
            font-size: 20px
        }
        h2{
            font-size: 15px;
        }
        h3{
            font-size: 10px;
        }
        #compImg, #userImg{
            width: 50px
        }
}

button{
    border-radius: 40%;
    font-size: 20px;
    font-weight: bold;
    color: darkblue;
    background-color: rgba(255, 166, 0, 0.471);
    border: 0;
    padding: 20px;
    background-image: linear-gradient(to top left, gray, silver, brown);
    margin: 30px;
    box-shadow: inset -2px 2px 3px;
    
}

input{
    border-radius: 45%;
    font-size: 20px;
    background-color: rgba(245, 245, 220, 0.679);
    padding: 15px;
    font-weight: bold;
    margin-top: 10px;
    box-shadow: inset -2px 2px 3px
}

input:hover{
    background-color: red;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95px;
}

section{
    display: inline-block;
    padding-left: 25px;
    padding-right: 25px;
}

#tops{
    color: rgb(143, 65, 10);
    text-shadow: 1px 1px 1px #000;
    font-weight: bold;
    animation: fadeIn 1.5s infinite alternate;
    /*position: relative;
    animation: spin 4s linear; */
}

.rocky{
    position: relative;
    animation: flybuttons 2.5s ;
    animation-timing-function: ease-in;
}

.papery{
    position: relative;
    animation: flybuttons 2.5s ;
    animation-timing-function: ease-out;
}

.cutty{
    position: relative;
    animation: flybuttons 2.5s ;
    animation-timing-function: ease-in-out;
}


@keyframes flybuttons{
    from{bottom: -700px}
    to{bottom: 0px}
}

#winner{
    width: 115px;
}

@keyframes fadeIn { 
    from { opacity: 0; }
    to {opacity:90;} 
}

/*@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes mymove{
    from{left: -400px;}
    to{left: 0px;}
    
}*/

/*#bulletin{
   
    animation: mymove 4s ;
    animation-timing-function: ease-in-out;
}*/

/*container{
    position: relative;
    animation: mymove 3s infinite;
    animation-timing-function: ease-in-out;
}*/