@mixin small-buttons {
    width: 40px;
    font-size: 7px;
    padding-left: 0px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 0px;
    margin-right: 5px   
}

$header-font: 15px;

@media only screen and (max-width: 700px) {
    body {
      background-image: url("");
      background-color: lightskyblue;
      margin: auto;
    }
        button{
            font-size: 8px;
            padding: 3px;
            margin: 1px;
        }

        #reset{
            font-size: 10px;
            margin-top: 0px;
            padding: 8px;
        }
        #winner{
            width: 75px; 
        }

        #rock{
            @include small-buttons
        }

        #paper{
            @include small-buttons
        }

        #scissors{
            @include small-buttons
        }

        #tops{
            font-size: 28px
        }

        #startMessage{
            font-size: $header-font;
        }

        h2{
            font-size: $header-font;
        }

        #compImg, #userImg{
            width: 50px
        }
}